a:link{
    background: #cad2c5;
    font-family: helvetica;
    font-weight: 700;
    text-decoration: none;
    font-size: large;
    padding: 10px;
    position: center;
}

a:hover{
color: transparent;
}

body {
    background-color:#cbc0d3;
    color: #354f52;
    font-style: Times;
    text-align: center;
}
#box {
    
}

#lugar {
    background-color: #efd3d7;
    font-family: 'Open Sans';
    font-size: x-large;
    padding: 30px;
}

#Habilidades { 
    background-color: #b6ad90;
    padding: 20px;
    font-family: 'Segoe UI','Open Sans', 'Helvetica Neue', sans-serif;
    text-align:start;
}
div { 
    color: rgb(59, 49, 49);
}
.e1{
    font-size: large;
    list-style-type:circle;
}
.e2{  
    font-size: large;
}
.e3{
    font-size: large;
    list-style-type:circle;
}
#e4{
    font-size: smaller;
}
.pictures {
    padding: 15px;
    background-color: #333d29;
    float: left;
    border-radius: 20%;
}
